.pb{background-color:blue; padding: 18px 35px ; 
  font-weight: bold;
  font-size: 15px;
  color: white;
  border-radius: 5px;
}
.header{background-image:url(../Assets/Hero-bg.png);      }

.bold{font-weight:bold ;
font-size: 65px;text-align: center;}
nav{align-items:center;
justify-content: space-around;
margin: 0 0 0 0;}
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav title{font-weight:bolder;
  font height:43px;}

nav ul li{
  list-style: none;
}
nav li a{
  text-decoration:none;
  font-size: 16px;  
}






nav{display:flex;
    
}